@model POS.ViewModel.ProductModel



<form asp-controller="Product" asp-action="Save" method="post">
    <div asp-validation-summary="All" ></div>
    <div class="form-group">
        <label asp-for="ProductName"></label>
        <input asp-for="ProductName"  class="form-control" />
        <span asp-validation-for="ProductName" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="SupplierId"></label>
        @*<input asp-for="SupplierId" class="form-control" />*@
        <select asp-for="SupplierId" class="form-control">
            <option>Pilih Supplier</option>
            <option value="1">Supplier 1</option>
            <option value="2">Supplier 2</option>
        </select>
        <span asp-validation-for="SupplierId" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="CategoryId"></label>
        @*<input asp-for="CategoryId" class="form-control" />*@
        <select asp-for="CategoryId" class="form-control">
            <option>Pilih Category</option>
            <option value="1">Category 1</option>
            <option value="2">Category 2</option>
            <option value="3">Category 3</option>
            <option value="4">Category 4</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="Quantity_per_unit"></label>
        <input asp-for="Quantity_per_unit" class="form-control" />
        <span asp-validation-for="Quantity_per_unit" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="UnitPrice"></label>
        <input asp-for="UnitPrice" class="form-control" />
        <span asp-validation-for="UnitPrice" class=" text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="UnitsInStock"></label>
        <input asp-for="UnitsInStock" class="form-control" />
        <span asp-validation-for="UnitsInStock" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="UnitsOnOrder"></label>
        <input asp-for="UnitsOnOrder" class="form-control" />
        <span asp-validation-for="UnitsOnOrder" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="ReorderLevel"></label>
        <input asp-for="ReorderLevel" class="form-control" />
        <span asp-validation-for="ReorderLevel" class=" text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="Discontinued"></label>
        <input asp-for="Discontinued" class="form-control" />
        <span asp-validation-for="Discontinued" class="text-danger" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
