@model POS.ViewModel.CategoryModel



<form asp-controller="Category" asp-action="Save" method="post">
    <div asp-validation-summary="All" ></div>
    <div class="form-group">
        <label asp-for="CategoryName"></label>
        <input asp-for="CategoryName" class="form-control" />
        <span asp-validation-for="CategoryName" class="text-danger"/>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="Picture"></label>
        <input asp-for="Picture" class="form-control" />
        <span asp-validation-for="Picture" class="text-danger" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
    
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
