@model POS.ViewModel.OrderModel


<form asp-controller="Order" asp-action="Save" method="post">
    <div asp-validation-summary="All" ></div>
    <div class="form-group">
        <label asp-for="CustomerId"></label>
        <input asp-for="CustomerId"  class="form-control" />
        <span asp-validation-for="CustomerId" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="EmployeesId"></label>
        <input asp-for="EmployeesId" class="form-control" />
        <span asp-validation-for="EmployeesId" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="OrderDate"></label>
        <input asp-for="OrderDate" class="form-control" placeholder="yyyy/MM/dd/" />
        <span asp-validation-for="OrderDate" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="RequiredDate"></label>
        <input asp-for="RequiredDate" class="form-control" plcaholder="yyyy/MM/dd/"/>
        <span asp-validation-for="RequiredDate" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="ShippedDate"></label>
        <input asp-for="ShippedDate" class="form-control" placeholder="yyyy/MM/dd/" />
        <span asp-validation-for="ShippedDate" class=" text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="ShipVia"></label>
        <input asp-for="ShipVia" class="form-control" />
        <span asp-validation-for="ShipVia" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="Freight"></label>
        <input asp-for="Freight" class="form-control" />
        <span asp-validation-for="Freight" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="ShipName"></label>
        <input asp-for="ShipName" class="form-control" />
        <span asp-validation-for="ShipName" class=" text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="ShipAddress"></label>
        <input asp-for="ShipAddress" class="form-control" />
        <span asp-validation-for="ShipAddress" class="text-danger" />
    </div>
     <div class="form-group">
        <label asp-for="ShipCity"></label>
        <input asp-for="ShipCity" class="form-control" />
        <span asp-validation-for="ShipCity" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="ShipRegion"></label>
        <input asp-for="ShipRegion" class="form-control" />
        <span asp-validation-for="ShipRegion" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="ShipPostalCode"></label>
        <input asp-for="ShipPostalCode" class="form-control" />
        <span asp-validation-for="ShipPostalCode" class="text-danger" />
    </div>
     <div class="form-group">
        <label asp-for="ShipCountry"></label>
        <input asp-for="ShipCountry" class="form-control" />
        <span asp-validation-for="ShipCountry" class="text-danger" />
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
