@model POS.ViewModel.OrderModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Add Order</h2>
<form asp-controller="Order" asp-action="Save" method="post">
    <div asp-validation-summary="All" ></div>
    <div class="form-group">
        <label asp-for="CustomerId">Customer</label>
        <select type="text" class="form-control" asp-for="CustomerId" asp-items="@ViewBag.Customer">
            <option selected>Pilih Customer</option>
        </select>
        <span asp-validation-for="CustomerId" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="EmployeesId"></label>
        <select type="text" class="form-control" asp-for="EmployeesId" asp-items="@ViewBag.Employee">
            <option selected>Pilih Employee</option>
        </select>
        <span asp-validation-for="EmployeesId" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="OrderDate"></label>
        <input asp-for="OrderDate" class="form-control" type="date" placeholder="yyyy/MM/dd/" />
        <span asp-validation-for="OrderDate" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="RequiredDate"></label>
        <input asp-for="RequiredDate" class="form-control" type="date" plcaholder="yyyy/MM/dd/" />
        <span asp-validation-for="RequiredDate" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="ShippedDate"></label>
        <input asp-for="ShippedDate" class="form-control" type="date"  placeholder="yyyy/MM/dd/" />
        <span asp-validation-for="ShippedDate" class=" text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="ShipperId">Shipper</label>
        <select type="text" class="form-control" asp-for="ShipperId" asp-items="@ViewBag.Shipper">
            <option selected>Pilih Shipper</option>
        </select>
        <span asp-validation-for="ShipperId" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="Freight"></label>
        <input asp-for="Freight" class="form-control" />
        <span asp-validation-for="Freight" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="ShipName">Ship Name </label>
        <input asp-for="ShipName" class="form-control" />
        <span asp-validation-for="ShipName" class=" text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="ShipAddress">Ship Address</label>
        <input asp-for="ShipAddress" class="form-control" />
        <span asp-validation-for="ShipAddress" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="ShipCity">Ship City</label>
        <input asp-for="ShipCity" class="form-control" />
        <span asp-validation-for="ShipCity" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="ShipRegion">Ship Region</label>
        <input asp-for="ShipRegion" class="form-control" />
        <span asp-validation-for="ShipRegion" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="ShipPostalCode">Ship Postal Code</label>
        <input asp-for="ShipPostalCode" class="form-control" />
        <span asp-validation-for="ShipPostalCode" class="text-danger" />
    </div>
    <div class="form-group">
        <label asp-for="ShipCountry">ShipCountry</label>
        <input asp-for="ShipCountry" class="form-control" />
        <span asp-validation-for="ShipCountry" class="text-danger" />
    </div>

    <h2 class="content-caption mb-0 d-flex justify-content-between"
    >Order Detail
    <a class="btn-add add-detail" data-added="0"><i class="la la-plus la-lg">+</i></a>
    </h2>

    <table class="table table-borderless m-1" id="tbl_posts2">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Discount</th>
            </tr>
        </thead>
        <tbody id="tbl_posts_body2">
            <tr id="re-0">
                <td><input asp-for="OrderDetails[0].ProductId" class="form-control" /></td>
                <td><input asp-for="OrderDetails[0].UnitPrice" class="form-control"/></td>
                <td><input asp-for="OrderDetails[0].Quantity" class="form-control" /></td>
                <td><input asp-for="OrderDetails[0].Discount" class="form-control" /></td>
                <td class="text-center"><a class="btn btn-xs delete-detail" edu-data-id="1"><i class="la la-trash la-lg  text-danger">-</i></a></td>
            </tr>
        </tbody>
        <tbody id="Detail-2">
           
        </tbody>
    </table>

    <div class="form-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            
            var j = 1;
            // added class to inputs
            $('a.add-detail').click( function() {
                $("#Detail-2").append(
                    '<tr><td><input id="OrderDetails_' + j + '__ProductId" class="form-control" type="text" data-val="true" name="OrderDetails[' + j + ' ].ProductId" value=""/></td><td><input id="OrderDetails_' + j + '__UnitPrice" class="form-control" type="text" data-val="true" name="OrderDetails[' + j + '].UnitPrice" value=""/></td><td><input id="OrderDetails_' + j + '__Quantity" class="form-control" type="text" data-val="true" name="OrderDetails[' + j + '].Quantity" value=""/></td><td><input id="OrderDetails_' + j + '__Discount" class="form-control" type="text" data-val="true" name="OrderDetails[' + j + '].Discount" value=""/></td> <td class="text-center"> <a class="btn btn-xs delete-detail" edu-data-id="1"> <i class="la la-trash la-lg text-denger"> - </i> </a> </td>  </tr>'
                );
                j++
            });
            $('#Detail-2').on('click', '.delete-detail', function () {
                $(this).parent().parent().remove();
                j--; //decremnt count
                resetValues(); //call to reset values
            });
            function resetValues() {
                counter = 1; //initialze to 1
                //looping through tbody
                $("#Detail-2 tr").each(function () {
                    //find .school class replace its name value
                    $(this).find('.ProductId').attr("OrderDetails[" + counter + "].ProductId");
                    $(this).find('.UnitPrice').attr("OrderDetails[" + counter + "].UnitPrice");
                    $(this).find('.Quantity').attr("OrderDetails[" + counter + "].Quantity");
                    $(this).find('.Discount').attr("OrderDetails[" + counter + "].Discount");
                    counter++; //increment count
                })
            }

        }); 
    </script>
}
